<!doctype html>
<html lang=en>

<head>
  <meta charset=utf-8>
  <meta name="description" content="My blog">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Blog</title>
  <link rel=stylesheet href=/style.css>
  <link rel="webmention" href="https://webmention.io/marcuslindblom.com/webmention" />
  <link rel="pingback" href="https://webmention.io/marcuslindblom.com/xmlrpc" />
  <link rel="me" href="https://twitter.com/marcus_lindblom">
</head>

<body>
  <header>
    <div class="header">
      <svg width="33" height="20" viewBox="0 0 33 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M27.1161 18.9389C27.1161 18.9389 22.005 19.0046 15.7019 18.9997C4.39963 18.9911 4.23598 18.9894 3.81584 18.8744C1.69263 18.2936 0.488512 16.0397 1.20981 13.9964C1.29857 13.7451 2.40306 11.8204 4.23557 8.72388C5.82294 6.04172 7.2739 3.58753 7.46 3.27011C8.24345 1.93373 9.12583 1.25256 10.3299 1.05461C11.5404 0.855616 12.7232 1.22734 13.5849 2.07761C14.0337 2.52043 14.1487 2.66329 16.187 6.08001M27.1161 18.9389C26.7836 18.9389 24.6014 17.58 24.6014 17.58M27.1161 18.9389C29.6518 18.9775 30.852 18.2279 31.3983 17.6517C31.7536 17.2769 31.8783 16.9659 32.0274 16.4714V16.4714C32.1352 16.1139 32.1301 15.5356 32.0508 15.1706C31.777 13.9107 31.3081 13.8399 26.2798 5.34774C24.4907 2.32612 24.5209 2.37211 24.0428 1.94406C23.2302 1.21672 21.9846 0.862253 20.8987 1.04941C19.9845 1.20691 19.0764 1.75696 18.5412 2.47726C18.4295 2.62766 18.0456 3.22839 17.6882 3.8122L17.0384 4.8737C17.0384 4.8737 16.5195 5.60891 16.187 6.08001M24.6014 17.58C22.4035 16.1817 21.0651 14.2746 17.418 8.14676M24.6014 17.58C21.2331 15.1787 20.4253 12.9501 17.418 8.14676M17.418 8.14676C16.9434 7.34935 16.5369 6.66645 16.187 6.08001" stroke="#F2F2F2" stroke-width="1.5"/>
      </svg>
      <h1>Marcus Lindblom</h1>
    </div>
  </header>
  <main>
  @RenderBody()
  </main>
  <footer>
    <p>Find flow</p>
  </footer>
  <script type=module src=/bundle.@(Model.Sha).js></script>
  <environment names="Staging,Production">
    <script src="https://cdn.usefathom.com/script.js" data-site="YUGAMIMD" defer></script>
  </environment>
</body>

</html>