---
import { HeroCard } from './hero-card';

const { heading, introduction } = Astro.props;

---

<section>
  <div class="mx-auto max-w-7xl px-8 py-12 lg:pt-24">
    <div class="mx-auto max-w-xl">
      <div>
        <div class="md:flex md:items-center md:justify-between md:space-x-5">
            <HeroCard heading={heading}  client:visible />
        </div>
        <div class="mt-24 text-sm font-light">
          <p class="text-black dark:text-white">About</p>
          <div
            class="text-neutral-500 dark:text-neutral-400 space-y-3 mt-3"
            set:html={introduction}
            is="str-div"
            data-field="introduction"
          />
        </div>
      </div>
    </div>
  </div>
</section>
