---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout>
  <section>
    <div class="mx-auto max-w-7xl px-8 py-12 lg:pt-24">
      <div class="mx-auto max-w-xl">
        <div>
          <div class="md:flex md:items-center md:justify-between md:space-x-5">
            <div class="text-sm font-light">
              <p class="text-black dark:text-white">Starting Nimble Initiatives</p><div
                class="text-neutral-500 dark:text-neutral-400 space-y-3 mt-3 prose prose-sm"
              >
                  <img
                    src="https://cdn.strife.app/D46BgOaYzfH-gDs0QmlADDkINJtXlbUJec6jMFPROfw/q:70/aHR0cHM6Ly9zdHJpZmUuYi1jZG4ubmV0L01BUi9hMjY3ZjUwMi02NDExLTQxZWQtYmNmOS0xMjZmZTRjNmM2NmYvb3JpZ2luYWwucG5n.webp"
                    alt=""
                  /><p>
                    This past year or so, the pandemic played a large role in
                    everyones life. For many of us this gave us time to think
                    and reflect of all the things we are grateful for. I’m lucky
                    to live in a place where it’s safe to stroll around and
                    enjoy the nature, take trips and explore. I’m also very
                    grateful that my family and friends are safe and well.
                  </p><p>
                    Looking back, both personally and professionally, 2020 was
                    one of the biggest years for me. We are going to start a
                    family and I’m so happy and grateful to become the father of
                    a little baby girl.
                  </p><p>
                    On a professional level it was also a great year. I left my
                    role as a Senior Web Engineer to start a new company. Ever
                    since we sold Meridium a few years back I’ve always felt I
                    want to be a founder, and build something of my own.
                  </p><p>
                    Early 2021, me and two of the most brilliant people I know
                    opened the doors to Nimble Initiatives, a creative endeavour
                    with the purpose of holding space for us and others to
                    realise big ideas. Hopefully, Nimble Initiatives will be the
                    home for many creative initiatives in the near future.
                  </p><p>
                    🎉 Also, I’m proud to say hello world to <a
                      target="_blank"
                      rel="noopener noreferrer nofollow"
                      class="editor-link editor-link editor-link editor-link editor-link"
                      href="https://nimbleinitiatives.com"
                      ><u>https://nimbleinitiatives.com</u></a>
                  </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
