---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout>
  <section>
    <div class="mx-auto max-w-7xl px-8 py-12 lg:pt-24">
      <div class="mx-auto max-w-xl">
        <div>
          <div class="md:flex md:items-center md:justify-between md:space-x-5">
            <div class="text-sm font-light">
              <p class="text-black dark:text-white">About</p><div
                class="text-neutral-500 dark:text-neutral-400 space-y-3 mt-3 prose prose-sm"
              >
                  <img
                    src="https://cdn.strife.app/vDTGYNx0DFLpsle8FqvYYDxertSKuc__SMStXi5mo1Q/q:70/aHR0cHM6Ly9zdHJpZmUuYi1jZG4ubmV0L01BUi85MGIzYmM2OC1kY2JkLTQ3YWYtODUwMS00YmYzZDdkMmFhNTkvb3JpZ2luYWwucG5n.webp"
                    alt=""
                  /><p>
                    On July 30th our daughter was born. I’m so proud and words
                    can not describe how happy I am to be a father to the most
                    beautiful baby girl 🥰
                  </p><p>I love you ❤️</p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
