@import "inter-ui/inter.css";
@import "tailwindcss";

@plugin "@tailwindcss/typography";

@source "./src/**/*.{astro,html,js,jsx,md,mdx,svelte,ts,tsx,vue}";

@theme {
  --font-family-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  
  --color-black: #222222;
  
  --font-size-xs: 0.75rem;
  --font-size-xs--line-height: 1rem;
  
  --font-size-sm: 0.875rem;
  --font-size-sm--line-height: 1.5rem;
  
  --font-size-base: 1rem;
  --font-size-base--line-height: 1.75rem;
  
  --font-size-lg: 1.125rem;
  --font-size-lg--line-height: 2rem;
  
  --font-size-xl: 1.25rem;
  --font-size-xl--line-height: 2rem;
  
  --font-size-2xl: 1.5rem;
  --font-size-2xl--line-height: 2rem;
  
  --font-size-3xl: 2rem;
  --font-size-3xl--line-height: 2.5rem;
  
  --font-size-4xl: 2.5rem;
  --font-size-4xl--line-height: 3.5rem;
  
  --font-size-5xl: 3rem;
  --font-size-5xl--line-height: 3.5rem;
  
  --font-size-6xl: 3.75rem;
  --font-size-6xl--line-height: 1;
  
  --font-size-7xl: 4.5rem;
  --font-size-7xl--line-height: 1.1;
  
  --font-size-8xl: 6rem;
  --font-size-8xl--line-height: 1;
  
  --font-size-9xl: 8rem;
  --font-size-9xl--line-height: 1;
}

q::before {
  background-color: var(--surface-document);
  border-radius: var(--radius-round);
  content: url(https://api.iconify.design/mingcute:quote-right-fill.svg?color=%23828282);
  inset-block-start: 0;
  inset-inline-start: 0;
  line-height: 0;
  padding: var(--size-3);
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
}

q.mastodon::before {
  content: url(https://api.iconify.design/mdi:mastodon.svg?color=%23828282)
}

q.bsky::before {
  content: url(https://api.iconify.design/tabler:square-filled.svg?color=%23828282)
}

:where(video),
:where(iframe) {
  max-inline-size: 100%;
  block-size: auto;
  aspect-ratio: 16/9;
  object-fit:contain;
  object-position: top center;
  margin-block: 3rem;
  border: none;
}

:where(iframe[src*="apple.com"]) {
  aspect-ratio: 562 / 175;
}

:root {
  --str-placeholder-text-opacity: 0.3;
  --str-placeholder-background-color: #0099ff;
  --str-placeholder-background-opacity: 0.8;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.5s;
}

.effect {
  border-image:
    linear-gradient(
      transparent,
      var(--indigo-6),
      transparent
    )
    1 / 4px /* slice n' size */
  ;
}
