@model HomeViewModel

<div is="str-textarea-cpnt" data-property-name="introduction">@Html.Raw(Model.Introduction ?? "")</div>


<div class="stack stack--horizontal">
  <div>
    <h2>Building</h2>
    <div>
      <h3>Strife</h3>
      <p>Headless CMS without compromise</p>
    </div>
  </div>
  <div>
    <h2>Projects</h2>
    <div>
      <h3><a href="https://github.com/marcuslindblom/security-headers">Security headers</a></h3>
      <p>Analyse your HTTP response headers</p>
    </div>
        <div>
      <h3><a href="https://github.com/marcuslindblom/yellow-lab-tools">Yellow Lab Tools</a></h3>
      <p>Analyzes a webpage and detects performance or front-end code quality issues</p>
    </div>
        <div>
      <h3><a href="https://github.com/marcuslindblom/w3cvalidator">w3cvalidator</a></h3>
      <p>Quickly and easily check document-conformance to catch unintended mistakes</p>
    </div>
  </div>
  <div>
    <h2>Writing</h2>
     @foreach(var post in Model?.Posts) {
    <div>
       <a href="@post.Url"><h3>@post.Title</h3></a>
       @if(post.Mentions is not null) {
        <ul style="margin:0;list-style:none;padding:0;display:flex;align-items: center;">
          @foreach(var mention in post.Mentions.Take(3)) {
          <li class="avatar">
            <img src="@mention.Author.Photo" alt="" style="width:25px;height:25px; border-radius: 50%;vertical-align: middle;" />
          </li>
          }
          @if(post.Mentions.Count > 3) {
            <li style="font-size: 11px;width: 25px;height: 25px;border-radius: 50%;display: flex;justify-content: center;align-items: center;">+@(post.Mentions.Count - 3)</li>
          }
        </ul>
       }
       <div class="h-entry">
        <p class="e-content">Two naked tags walk into a bar. The bartender exclaims, "Hey, you can't come in here without microformats, this is a classy joint!"</p>
        <a class="u-bridgy-fed" href="https://fed.brid.gy/"></a>
      </div>
   </div>
   }
  </div>
</div>



