@model HomeViewModel

<h1 is="str-h1-cpnt" data-property-name="heading">@Model.Heading</h1>
<p><em>Crafting interfaces</em>. Building polished software and web experiences. Experimenting with magical details in user interfaces. Webarchitect at undefined.</p>
<p>In the past I’ve developed...</p>

<ul></ul>
@foreach(var post in Model.Posts) {
  <li>
    @post.Title
  </li>
}
</ul>