@model HomeViewModel

<h1 is="str-h1-cpnt" data-property-name="heading">@Model.Heading</h1>
<p><em>Crafting interfaces</em>. Building polished software and web experiences. Experimenting with magical details in user interfaces. Webarchitect at undefined.</p>
<p>In the past I’ve developed - stuff</p>

 <div class="features">
  @foreach(var post in Model.Posts) {
   <div class="feature">
     <a href="#" class="feature-content">
       <strong>@post.Title</strong>
       <span>@post.Text</span>
       <ul>
          @foreach (var mention in post.WebMentions)
          {
            <li>
              @mention.Post.Author.Name
            </li>
          }
       </ul>
     </a>
   </div>
   }
 </div>