---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <section>
    <div class="mx-auto max-w-7xl px-8 py-12 lg:pt-24">
      <div class="mx-auto max-w-xl">
        <div>
          <div class="md:flex md:items-center md:justify-between md:space-x-5">
            <div class="text-sm font-light">
              <p class="text-black dark:text-white">The Tools I'm Using</p><div
                class="text-neutral-500 dark:text-neutral-400 space-y-3 mt-3 prose prose-sm"
              >
                <p>
                  <strong
                    >Full disclosure, some links on this site are affiliate
                    links.</strong>
                </p><h2>Services</h2><p>
                  <a
                    target='_blank'
                    rel='noopener'
                    noreferrer'
                    class='editor-link'
                    href='https://usefathom.com/ref/UAHZZB'>Fathom</a
                  > - My preferred tool for ethical analytics
                </p><p>
                  <a
                    rel='noopener'
                    noreferrer'
                    class='editor-link'
                    href='https://screenstudio.lemonsqueezy.com/?aff=81myD'
                    >Screen studio</a
                  > - My preferred tool for making beautiful screen recordings
                </p><p>
                  <a
                    rel='noopener'
                    noreferrer'
                    class='editor-link'
                    href='https://typeframes.lemonsqueezy.com/?aff=81myD'
                    >Typeframes</a
                  > - My preferred tool for recording stunning product videos
                </p><p>
                  <a
                    rel='noopener'
                    noreferrer'
                    class='editor-link'
                    href='https://hetzner.cloud/?ref=iaDbKO4x2NiW'
                    >Hetzner Cloud</a
                  > - My preferred hosting service
                </p><p>
                  <a
                    rel='noopener'
                    noreferrer'
                    class='editor-link'
                    href='https://threads.com/?rc=u34439162602'>Threads</a
                  > - My preferred way to communicate with your team
                </p><h2>Desk setup</h2><p>
                  <a
                    target='_blank'
                    rel='noopener'
                    noreferrer'
                    class='editor-link'
                    href='https://www.keychron.com/products/keychron-k3-ultra-slim-wireless-mechanical-keyboard-nordic-iso-layout-version-2'
                    >Keychron K3 Ultra-slim Wireless Mechanical Keyboard
                    (Version 2)</a>
                </p><h2>Camera</h2><p>
                  <a
                    target='_blank'
                    rel='noopener'
                    noreferrer'
                    class='editor-link'
                    href='https://opalcamera.com/'>Opal C1</a>
                </p><h2>Other</h2><p>
                  <a
                    target='_blank'
                    rel='noopener'
                    noreferrer'
                    class='editor-link'
                    href='https://www.tesla.com/sv_se/referral/marcus790696'
                    >Tesla Model Y Performance</a>
                </p><h2>Lightning</h2><p>
                  <a
                    target='_blank'
                    rel='noopener'
                    noreferrer'
                    class='editor-link'
                    href='https://www.amazon.com/Mi-Computer-Monitor-Light-Bar/dp/B08W2C5W59'
                    >Xiaomi Mi Computer Monitor Light Bar</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
