---
import BaseLayout from '../../../layouts/BaseLayout.astro';
import LabelFilter from '../../../components/LabelFilter.astro';
import store from '../../../store';

const session = store.openSession();

const { label } = Astro.params;

const lastSegment = label.split('/').pop();

const results = await session
  .query({ indexName: 'Posts/ByLabel' })
  .whereEquals('published', true)
  .orderByDescending('publishedDate')
  .whereIn('labels', [lastSegment])
  .all();

const dateOptions: object = {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
};

---

<BaseLayout>
  <section>
    <div class="mx-auto max-w-7xl px-8 py-12 lg:pt-24">
      <div class="mx-auto max-w-xl">
        <div>
          <div class="md:flex md:items-center md:justify-between md:space-x-5">
            <div class="text-sm font-light flex-grow">
              <p class="text-black dark:text-white">Writing</p>
              <div class="my-5">
                <LabelFilter />
              </div>
              <div
                class="text-neutral-500 dark:text-neutral-400 space-y-3 mt-3"
              >
                {
                  results.map((post) => (
                    <>
                      <div class="text-neutral-500  items-start grid grid-cols-1 md:grid-cols-3">
                        <div>
                          <time class="text-neutral-400 dark:text-neutral-400">
                            {new Date(post.publishedDate).toLocaleDateString(
                              'en-US',
                              dateOptions
                            )}
                          </time>
                        </div>
                        <div class="md:col-span-2 w-full">
                          <p class="text-black dark:text-white">
                            <a
                              href={post.url}
                              class="underline hover:no-underline duration-200 after:content-['_↗']"
                            >
                              {post.displayName}
                            </a>
                          </p>
                        </div>
                      </div>
                    </>
                  ))
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
