:root {
  --font-family-standard: -apple-system, system-ui, 'Segoe UI', roboto,
    'Helvetica Neue', helvetica, arial, sans-serif;
  --font-family-mono: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo,
    Courier, monospace;
  --bg: rgb(11, 11, 15);
  --fg: hsl(0 0% 62.8%);
  --font-serif: 'Newsreader', 'Signifier', 'Times', serif;
  --type-em: 400 italic calc(1em + 1px) / normal var(--font-serif);
  --colors-lowContrast: black;
  --body-margin-left: max(24px, env(safe-area-inset-left));
  --body-margin-right: max(24px, env(safe-area-inset-right));
  --alpha: rgba(11, 11, 15, 0.9);
}

html {
  font-size: 62.5%;
  line-height: 28px;

  font-family: var(--font-family-standard);
  color: var(--fg);
}

body {
  font-size: 1.6rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--bg);

  margin: 0;

  padding-left: var(--body-margin-left);
  padding-right: var(--body-margin-right);
}

header {
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  height: 48px;
  display: flex;
  position: sticky;
  backdrop-filter: blur(0.5rem);
  background-color: var(--alpha);
  width: 100vw;
  inset: 0;
  margin-left: -50vw;
  margin-right: -50vw;
}

.header {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  flex-grow: 1;
  padding-left: var(--body-margin-left);
  padding-right: var(--body-margin-right);
}

h1,h2,h3 {
  color: hsl(0, 0%, 93%);
}
h1 {
  font: 400 1.6rem var(--font-family-standard);
  text-transform: capitalize;
}

h3 {
  font-size: 1.6rem;
}

.header,
main,
footer {
  max-width: 640px;
  margin: 0 auto;
}

em {
  font: var(--type-em);
}

::selection {
  background-color: #ff9a9e;
  color: var(--colors-lowContrast);
}

.avatar img {
  border: solid 1px var(--bg);
}

/* :where(.entry, .comments, .comments-reactions, .stack) a {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(89.29deg, rgb(179, 174, 245) 2%, rgb(215, 203, 231) 20%, rgb(229, 200, 200) 31%, rgb(234, 168, 121) 70%);
} */

a:link,
a:visited {
  text-decoration: none;
  color: hsl(0, 0%, 93%);
  border-bottom: 1px solid hsl(0, 0%, 20.5%);
  font-weight: 500;
  padding-bottom: 4px;
  transition: border-color 150ms ease;
}

a:hover {
  border-color: hsl(0, 0%, 31.2%);
}

.comment img:first-child {
  border-radius: 100%;
  position: absolute;
  top: 1em;
  left: 0;
  /* max-width: 3.25em; */
}

:where(.comments) strong, em, .comment-date { display: contents;}

.comments .comment {
  position: relative;
  padding-left: 5em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 1em;
  padding-bottom: 1em;
  min-height: 5em;
  overflow: auto;
}

:where(.entry) h1 {
  max-width: 80%;
  font-weight: 700;
  letter-spacing: -0.022px;
  /* text-align: center; */
  color: rgb(247, 248, 248);
  font-size: 36px;
  line-height: 1.3;
}

:where(.entry) em {
  font-family: var(--font-family-standard);
  display: contents;
}

iframe {
  height: auto;
  width: 100%;
  aspect-ratio: 16 / 9;
  border: none;
}

.stack {

}

.stack--horizontal {
  display: flex;
  column-gap: 2rem;
}

:where(.stack--horizontal div) {
  justify-content: space-evenly;
  flex: 1;
}