:root {
  --font-family-standard: -apple-system, system-ui, 'Segoe UI', roboto,
    'Helvetica Neue', helvetica, arial, sans-serif;
  --font-family-mono: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo,
    Courier, monospace;
  --bg: #1c1c1c;
  --fg: #f2f2f2;
  --font-serif: 'Newsreader', 'Signifier', 'Times', serif;
  --type-em: 400 italic calc(1em + 1px) / normal var(--font-serif);
  --colors-lowContrast: black;
  --body-margin-left: max(24px, env(safe-area-inset-left));
  --body-margin-right: max(24px, env(safe-area-inset-right));
  --alpha: rgba(28, 28, 28, 0.9);
}

html {
  font-size: 62.5%;
  line-height: 28px;

  font-family: var(--font-family-standard);
  color: var(--fg);
}

body {
  font-size: 1.6rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--bg);

  margin: 0;

  padding-left: var(--body-margin-left);
  padding-right: var(--body-margin-right);
}

header {
  border-bottom: solid 1px #2e2e2e;
  height: 48px;
  display: flex;
  position: sticky;
  backdrop-filter: blur(0.5rem);
  background-color: var(--alpha);
  width: 100vw;
  inset: 0;
  margin-left: -50vw;
  margin-right: -50vw;
}

.header {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  flex-grow: 1;
  padding-left: var(--body-margin-left);
  padding-right: var(--body-margin-right);
}

h1 {
  font: 400 1.6rem var(--font-family-standard);
  text-transform: capitalize;
}

.header,
main,
footer {
  max-width: 640px;
  margin: 0 auto;
}

em {
  font: var(--type-em);
}

::selection {
  background-color: #ff9a9e;
  color: var(--colors-lowContrast);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  position: relative;
}

.features {
  display: grid;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.feature {
  --x-px: calc(var(--x) * 1px);
  --y-px: calc(var(--y) * 1px);
  --border: 1px;
  background: rgba(255, 255, 255, 0.125);
  border-radius: 0.5rem;
  overflow: hidden;
  height: 280px;
}
.feature:before, .feature:after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0px;
  border-radius: inherit;
  background: radial-gradient(800px circle at var(--x-px) var(--y-px), rgba(255, 255, 255, 0.1), transparent 40%);
}
.feature:before {
  z-index: 1;
}
.feature:after {
  opacity: 0;
  z-index: 2;
  transition: opacity 0.4s ease;
}
.feature:hover:after {
  opacity: 1;
}

.feature-content {
  background: var(--bg);
  border-radius: inherit;
  color: white;
  text-decoration: none;
  z-index: 1;
  position: absolute;
  inset: var(--border);
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 0.5rem;
  padding: 0 1rem 0 2rem;
}
.feature-content > strong {
  align-self: self-end;
  font-size: 125%;
}
.feature-content > span {
  opacity: 0.7;
}

.avatar img {
  border: solid 1px var(--bg);
}

a {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(89.29deg, rgb(179, 174, 245) 2%, rgb(215, 203, 231) 20%, rgb(229, 200, 200) 31%, rgb(234, 168, 121) 70%);
}

.comment img:first-child {
  border-radius: 100%;
  position: absolute;
  top: 1em;
  left: 0;
  /* max-width: 3.25em; */
}

strong, .comment-date { display: contents;}

.comments .comment {
  position: relative;
  padding-left: 5em;
  border-bottom: 1px solid #2e2e2e;
  padding-top: 1em;
  padding-bottom: 1em;
  min-height: 5em;
  overflow: auto;
}