---
import BaseHead from "../components/BaseHead.astro";
---

<html lang="en">
  <head>
    <BaseHead />
  </head>

  <body class="bg-white dark:bg-black">
    <slot />
    <script type="module">
      import { ready } from 'https://unpkg.com/@strifeapp/strife';
      ready();
    </script>
    <script src="https://cdn.usefathom.com/script.js" data-site="YUGAMIMD" defer></script>
  </body>
</html>
