---
import { injectSpeedInsights } from '@vercel/speed-insights';
import BaseHead from "../components/BaseHead.astro";

const { title, description, card } = Astro.props;

injectSpeedInsights();

---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} card={card} />
  </head>

  <body class="bg-white dark:bg-black">
    <slot />
    <script>
      import { ready } from '@strifeapp/strife';
      ready();
    </script>
    <script src="https://cdn.usefathom.com/script.js" data-site="YUGAMIMD" defer is:inline></script>
    <script>
      window.si = window.si || function () { (window.siq = window.siq || []).push(); };
    </script>
    <script defer src="/_vercel/speed-insights/script.js"></script>
  </body>
</html>
