---
import BaseHead from "../components/BaseHead.astro";
import SpeedInsights from '@vercel/speed-insights/astro';
import Navigation from "../components/global/Navigation.astro";

const { PROD } = import.meta.env

const { title, description, card } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} card={card} />
  </head>

  <body class="bg-white dark:bg-black">
    <Navigation />
    <slot />
    <script>
      import '../scripts/main.js'
    </script>
    {
      PROD && (
      <script src="https://cdn.usefathom.com/script.js" data-site="YUGAMIMD" defer is:inline></script>
      )
    }
    <SpeedInsights />
  </body>
</html>
