---
import BaseHead from "../components/BaseHead.astro";

const { title, description, card } = Astro.props

---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} card={card} />
  </head>

  <body class="bg-white dark:bg-black">
    <slot />
    <script>
      import { ready } from '@strifeapp/strife';
      ready();
    </script>
    <script src="https://cdn.usefathom.com/script.js" data-site="YUGAMIMD" defer></script>
  </body>
</html>
