---
import SpeedInsights from '@vercel/speed-insights/astro';
import BaseHead from "../components/BaseHead.astro";

const { title, description, card } = Astro.props;

---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} card={card} />
  </head>

  <body class="bg-white dark:bg-black">
    <slot />
    <!-- <script src="../scripts/main.js"></script> -->
    <script>
      import '../scripts/main.js'
    </script>
    <script src="https://cdn.usefathom.com/script.js" data-site="YUGAMIMD" defer is:inline></script>
    <SpeedInsights />
  </body>
</html>
