---
import SpeedInsights from '@vercel/speed-insights/astro';
import BaseHead from "../components/BaseHead.astro";
import { ViewTransitions } from "astro:transitions";
const { PROD } = import.meta.env

const { title, description, card } = Astro.props;

---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} card={card} />
    <ViewTransitions />
  </head>

  <body class="bg-white dark:bg-black">
    <slot />
    {
      PROD && (
      <script src="https://cdn.usefathom.com/script.js" data-site="YUGAMIMD" defer is:inline></script>
      )
    }
    <script>
      window.op = window.op||function(...args){(window.op.q=window.op.q||[]).push(args);};
      window.op('init', {
        clientId: '858971dc-def1-4ac9-ad8c-dec7c40b55f6',
        trackScreenViews: true,
        trackOutgoingLinks: true,
        trackAttributes: true,
      });
    </script>
    <script src="https://openpanel.dev/op1.js" defer async></script>
    <SpeedInsights />
  </body>
</html>
