<nav class="mt-5">
  <a href="/" class="text-neutral-500 hover:text-neutral-400 text-xs font-semibold duration-200 me-2 px-1 py-1 inline-flex h-8 place-items-center underline underline-offset-4">About</a>
  <a href="/journal" class="text-neutral-500 hover:text-neutral-400 text-xs font-semibold duration-200 me-2 px-1 py-1 inline-flex h-8 place-items-center underline underline-offset-4">Writing</a>
</nav>